In [4]:
import pandas as pd
file_path = 'Jeju_traffic.csv'

df = pd.read_csv(file_path)
df.head()

   Unnamed: 0  20231106  0000  1000000100    10078901    30  0
0      655360  20231106     0  4060032500  10078901.0  18.0  0
1      655361  20231106     0  4060032600  10078901.0  22.0  0
2      655362  20231106     0  4060032700  10078901.0  20.0  0
3      655363  20231106     0  4060032800  10078901.0  23.0  0
4      655364  20231106     0  4060032900  10078901.0  26.0  0

In [9]:
column_name=['순번', '생성일', '생성시분', '링크ID', '도로관리기관','통행속도','통행시간']

data = df.values.tolist()
new_df = pd.DataFrame(data, columns=column_name)
new_df

                  순번         생성일    생성시분          링크ID      도로관리기관  통행속도  통행시간
0           655360.0  20231106.0     0.0  4.060032e+09  10078901.0  18.0   0.0
1           655361.0  20231106.0     0.0  4.060033e+09  10078901.0  22.0   0.0
2           655362.0  20231106.0     0.0  4.060033e+09  10078901.0  20.0   0.0
3           655363.0  20231106.0     0.0  4.060033e+09  10078901.0  23.0   0.0
4           655364.0  20231106.0     0.0  4.060033e+09  10078901.0  26.0   0.0
...              ...         ...     ...           ...         ...   ...   ...
1871429  132956838.0  20231106.0  2350.0  4.060539e+09         NaN  30.0   0.0
1871430  132956839.0  20231106.0  2350.0  4.060539e+09  10078901.0  37.0   0.0
1871431  132956840.0  20231106.0  2350.0  4.060539e+09  10078901.0  40.3   0.0
1871432  132956841.0  20231106.0  2350.0  4.060539e+09  10078901.0  39.3   0.0
1871433  132956842.0  20231106.0  2350.0  4.060539e+09  10078901.0  41.3   0.0

[1871434 rows x 7 columns]

In [10]:
idx = new_df.groupby('링크ID')['통행속도'].idxmax()


max_speed_df = new_df.loc[idx]

print(max_speed_df)

                  순번         생성일    생성시분          링크ID      도로관리기관  통행속도  통행시간
689524    49743089.0  20231106.0   815.0  4.050000e+09         NaN  44.0   0.0
18828      2010994.0  20231106.0    10.0  4.050000e+09         NaN  46.0   0.0
18829      2010995.0  20231106.0    10.0  4.050000e+09  10078901.0  30.0   0.0
1682675  120666904.0  20231106.0  2135.0  4.050000e+09  10078901.0  48.8   0.0
1723125  123395005.0  20231106.0  2200.0  4.050000e+09  10078901.0  52.0   0.0
...              ...         ...     ...           ...         ...   ...   ...
5342        660702.0  20231106.0     0.0  4.060539e+09         NaN  30.0   0.0
705276    51120352.0  20231106.0   835.0  4.060539e+09  10078901.0  46.7   0.0
1185812   83170764.0  20231106.0  1445.0  4.060539e+09  10078901.0  46.0   0.0
705278    51120354.0  20231106.0   835.0  4.060539e+09  10078901.0  49.0   0.0
1185814   83170766.0  20231106.0  1445.0  4.060539e+09  10078901.0  48.3   0.0

[13483 rows x 7 columns]

In [11]:
max_speed_df.to_csv('final.csv', index=False)

In [17]:
final_df = pd.read_csv('final.csv')

Jeju_links_df = pd.read_csv('Project/data/Jeju_links.csv')


merged_df = pd.merge(final_df,Jeju_links_df, left_on='링크ID', right_on='LINK_ID', how='inner')


merged_df.drop('LINK_ID', axis=1, inplace=True)


merged_df.to_csv('final.csv', index=False)
print(merged_df)

                순번         생성일    생성시분          링크ID      도로관리기관  통행속도  통행시간  \
0        2010995.0  20231106.0    10.0  4.050000e+09  10078901.0  30.0   0.0
1      120666904.0  20231106.0  2135.0  4.050000e+09  10078901.0  48.8   0.0
2      123395005.0  20231106.0  2200.0  4.050000e+09  10078901.0  52.0   0.0
3      122712981.0  20231106.0  2155.0  4.050000e+09  10078901.0  45.6   0.0
4      112482608.0  20231106.0  2000.0  4.050000e+09  10078901.0  51.8   0.0
...            ...         ...     ...           ...         ...   ...   ...
12063     660702.0  20231106.0     0.0  4.060539e+09         NaN  30.0   0.0
12064   51120352.0  20231106.0   835.0  4.060539e+09  10078901.0  46.7   0.0
12065   83170764.0  20231106.0  1445.0  4.060539e+09  10078901.0  46.0   0.0
12066   51120354.0  20231106.0   835.0  4.060539e+09  10078901.0  49.0   0.0
12067   83170766.0  20231106.0  1445.0  4.060539e+09  10078901.0  48.3   0.0

       Unnamed: 0_x    Source_x    Target_x  ...  MAX_SPD_y  REST_VEH_y  \
0            180319  4050000500  4050000502  ...         40           0
1            124334  4050000502  4050000201  ...         40           0
2             29224  4050000201  4050000200  ...         40           0
3             75536  4050000502  4050000500  ...         40           0
4            365518  4050000201  4050000502  ...         40           0
...             ...         ...         ...  ...        ...         ...
12063         63866  4060079600  4060188201  ...         30           0
12064        266243  4060007805  4060188201  ...         50           0
12065        444286  4060188201  4060007805  ...         50           0
12066        185111  4060188201  4060007807  ...         50           0
12067        281694  4060007807  4060188201  ...         50           0

       REST_W_y REST_H_y C-ITS_y     LENGTH_y  UPDATEDATE_y  REMARK_y  \
0             0        0       0   350.558231      20230519       NaN
1             0        0       0  3133.022150      20230519       NaN
2             0        0       0   209.376449      20230519       NaN
3             0        0       0   339.710961      20230519       NaN
4             0        0       0  3113.983604      20230519       NaN
...         ...      ...     ...          ...           ...       ...
12063         0        0       0   613.023297      20230519       NaN
12064         0        0       0   121.600124      20230519       NaN
12065         0        0       0   116.246333      20230519       NaN
12066         0        0       0   982.437301      20230519       NaN
12067         0        0       0   983.965605      20230519       NaN

       HIST_TYPE_y  HISTREMARK_y
0              NaN           NaN
1              NaN           NaN
2              NaN           NaN
3              NaN           NaN
4              NaN           NaN
...            ...           ...
12063          NaN           NaN
12064          NaN           NaN
12065          NaN           NaN
12066          NaN           NaN
12067          NaN           NaN

[12068 rows x 49 columns]

In [19]:
file_path = 'final.csv'

df = pd.read_csv(file_path)
df

,순번,생성일,생성시분,링크ID,도로관리기관,통행속도,통행시간,Unnamed: 0_x,Source_x,Target_x,...,MAX_SPD_y,REST_VEH_y,REST_W_y,REST_H_y,C-ITS_y,LENGTH_y,UPDATEDATE_y,REMARK_y,HIST_TYPE_y,HISTREMARK_y
0,2010995.0,20231106.0,10.0,4.050000e+09,10078901.0,30.0,0.0,180319,4050000500,4050000502,...,40,0,0,0,0,350.558231,20230519,NaN,NaN,NaN
1,120666904.0,20231106.0,2135.0,4.050000e+09,10078901.0,48.8,0.0,124334,4050000502,4050000201,...,40,0,0,0,0,3133.022150,20230519,NaN,NaN,NaN
2,123395005.0,20231106.0,2200.0,4.050000e+09,10078901.0,52.0,0.0,29224,4050000201,4050000200,...,40,0,0,0,0,209.376449,20230519,NaN,NaN,NaN
3,122712981.0,20231106.0,2155.0,4.050000e+09,10078901.0,45.6,0.0,75536,4050000502,4050000500,...,40,0,0,0,0,339.710961,20230519,NaN,NaN,NaN
4,112482608.0,20231106.0,2000.0,4.050000e+09,10078901.0,51.8,0.0,365518,4050000201,4050000502,...,40,0,0,0,0,3113.983604,20230519,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12063,660702.0,20231106.0,0.0,4.060539e+09,NaN,30.0,0.0,63866,4060079600,4060188201,...,30,0,0,0,0,613.023297,20230519,NaN,NaN,NaN
12064,51120352.0,20231106.0,835.0,4.060539e+09,10078901.0,46.7,0.0,266243,4060007805,4060188201,...,50,0,0,0,0,121.600124,20230519,NaN,NaN,NaN
12065,83170764.0,20231106.0,1445.0,4.060539e+09,10078901.0,46.0,0.0,444286,4060188201,4060007805,...,50,0,0,0,0,116.246333,20230519,NaN,NaN,NaN
12066,51120354.0,20231106.0,835.0,4.060539e+09,10078901.0,49.0,0.0,185111,4060188201,4060007807,...,50,0,0,0,0,982.437301,20230519,NaN,NaN,NaN
12067,83170766.0,20231106.0,1445.0,4.060539e+09,10078901.0,48.3,0.0,281694,4060007807,4060188201,...,50,0,0,0,0,983.965605,20230519,NaN,NaN,NaN

In [20]:
final_df = pd.read_csv('final.csv')


print(final_df['통행속도'].describe())

print(final_df['통행속도'].value_counts())

speed_ranges = pd.cut(final_df['통행속도'], bins=range(0, int(final_df['통행속도'].max()) + 10, 10))
print(speed_ranges.value_counts().sort_index())

count    12068.000000
mean        39.291863
std         15.576208
min          4.000000
25%         28.000000
50%         37.000000
75%         49.000000
max        120.000000
Name: 통행속도, dtype: float64
30.0    294
29.0    291
36.0    291
31.0    272
28.0    270
       ...
81.7      1
81.2      1
17.5      1
64.6      1
43.4      1
Name: 통행속도, Length: 489, dtype: int64
(0, 10]        102
(10, 20]       901
(20, 30]      2882
(30, 40]      3138
(40, 50]      2275
(50, 60]      1551
(60, 70]       776
(70, 80]       260
(80, 90]       145
(90, 100]       18
(100, 110]      10
(110, 120]      10
Name: 통행속도, dtype: int64